@model List<ZeroHunger.Models.Restaurant>
@{
    ViewBag.Title = "RestaruantList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Restaruant List</h2>

<table class="table">

    <thead>
        <tr>
            <td>
                Restaurant ID
            </td>
            <td>
                Name
            </td>
            <td>
                Address
            </td>
            <td>
                Phone
            </td>
            <td>
                Join Date
            </td>
        </tr>
    </thead>

    <tbody>
        @foreach (var rst in Model)
        {

            <tr>

                <td>
                    @rst.RestaurantId
                </td>
                <td>
                    @rst.Name
                </td>
                <td>
                    @rst.Address
                </td>
                <td>
                    @rst.Phone
                </td>
                <td>
                    @rst.JoinDate
                </td>
            </tr>
        }

    </tbody>
</table>