@model List<ZeroHunger.Models.Request>
@{
    ViewBag.Title = "RequestList";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<h2>RequestList</h2>

<table class="table">

    <thead>
        <tr>
            <td>
                Request ID
            </td>
            <td>
                Food Name
            </td>
            <td>
                Food Type
            </td>
            <td>
                Quantity
            </td>
            <td>
                Status
            </td>
            <td>
                Address
            </td>
            <td>
                Restaurant ID
            </td>
            <td>
                Employee ID
            </td>
        </tr>
    </thead>

    <tbody>
        @foreach (var rqst in Model)
        {

            <tr>

                <td>
                    @rqst.RequestId
                </td>
                <td>
                    @rqst.FoodName
                </td>
                <td>
                    @rqst.FoodType
                </td>
                <td>
                    @rqst.Quantity
                </td>
                <td>
                    @rqst.Status
                </td>
                <td>
                    @rqst.Address
                </td>
                <td>
                    @rqst.AssignedEmployee
                </td>
                <td>
                    @rqst.RestaurantId
                </td>
            </tr>
        }

    </tbody>
</table>